---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
---

<BaseLayout title="CV | Adrien Valo" description="A propos de mon CV">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Mon CV"

			>
			
			</Hero>

			<section>
				<h2 class="section-title">Présentation <Icon icon='text-presentation'/></h2>
				<div class="content">
					<p>
						Fort de 5 années d’expérience dans la gestion de projets, je donne maintenant un nouveau tournant à ma carrière, attiré depuis plusieurs années par la programmation, le développement logiciel ainsi que le développement back-end.
<br> Cette transition professionnelle découle d'une forte motivation pour développer mes compétences techniques et travailler en immersion au sein d’un cadre qui me passionne, animée également par mon grand intérêt pour la résolution de problèmes.
					</p>

					<p>
						
					</p>
					<p>
						
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title"> Technologies <Icon icon='outil-logo'/></h2>
				<div class="content">
					<p>• Python • Django • Javascript • Typescript • React • C# • HTML5 • CSS3 • Git Technology • PHP & MySQL • Astro •</p>
				</div>
			</section>
			
			<section>
				<h2 class="section-title"> Softskills <Icon icon='boite-outil'/></h2>
				<div class="content">
					<p>• Gestion de projet Agile / Scrum • Coordination et suivi des étapes d’un projet •  Sens de l’organisation  •  Résolution de problèmes • Adaptabilité   • Esprit d’équipe  •  Rigueur • Force de proposition • </p>
				</div>
			</section>
			
			<section>
				<h2 class="section-title">Diplômes <Icon icon='diplome-logo'/></h2>
				<div class="content">
					<p>• Master 2 Cinéma & Audiovisuel : Spécialité Médias -  Sorbonne Nouvelle (Paris)</p>
					<br>
					<p>• Japanese Language Proficiency Test N2 |
The Japan Foundation</p>
<br>
					<p> • Master Cinéma & Audiovisuel : Spécialité Médias - Sorbonne Nouvelle (Paris) </p>
					<tagline>dont 6 mois en échange international à la Tokyo University of Foreign Studies (Tokyo, Japon)</tagline>
					
				</div>
			</section>

			<section>
				<h2 class="section-title">Centre d'intérêts<br> et <br>Bénévolat <Icon icon='loupe-logo'/></h2>
				<div class="content">
					<p>• <Icon icon='language-logo'/> Secrétaire générale de l'association <a href="https://www.gengoffee.fr" target="_blank">Gengoffee</a> (depuis 2022)</p>
					<p>• <Icon icon='computer-screen'/> Production musicale sur ordinateur (MAO) via Ableton Live 11</p>
					<p>• <Icon icon='guitar-logo'/> Guitariste membre du club de jazz de la Tokyo University of Foreign Studies (Tokyo, Japon)</p>
					<p>• <Icon icon='terminal-window'/> Réalisation de scripts d’automatisation en Python </p>
					<p>• <Icon icon='chess-logo'/> Echecs et résolution de problèmes d'echecs</p>
					<p>• <Icon icon='movie-logo'/> Cinéma asiatique (coréen, taiwanais et japonais) </p>
				</div>
			</section>
			
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
