---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Technologies</h2>
		<p>Python • Django • Javascript • Typescript • React • Node.js • HTML5 • CSS3 • <br> Git Technology • PHP & MySQL • MongoDB • Astro •</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="outil-logo" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Outils</h2>
		<p>Suite Office • Adobe InDesign • <br> Adobe Photoshop • Adobe Premiere Pro • Figma • Gestion de projet Agile   Scrum • Jira • Monday • Webflow • 
</p>
	</div>
	
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="language-logo" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Langues</h2>
		<p> • Français (langue maternelle) <br> • Anglais (Courant - C1) <br> • Japonais (Courant - JLPT N2 - C1) <br>  • Espagnol (A2)</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
